[submodule ".local/share/gitignore"]
	path = .local/share/gitignore
	url = https://github.com/github/gitignore.git

[submodule ".local/share/bash-git-prompt"]
	path = .local/share/bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule ".local/share/gdb-dashboard"]
	path = .local/share/gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard.git
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
