# File: .inputrc	-*- mode: conf -*-

# Memo:
# - https://www.gnu.org/software/bash/manual/html_node/Readline-Init-File.html
# - man READLINE(3)
# - help bind
# - bind -p (List functions)
# - bind -v (List variables)
# - bind -p FUNCTION (Query where-is the named FUNCTION binding)
# - bind -f ~/.inputrc
# - "\C-x\C-r": re-read-init-file ()
# - $include .inputrc

set completion-ignore-case on
set blink-matching-paren on

set convert-meta off
set output-meta on
set meta-flag on

# 前置詞の長いコマンドの略称表示
set completion-prefix-display-length 3

# colorful & helpful
set colored-completion-prefix on
set colored-stats off
set visible-stats off
#set mark-symlinked-directories on
set match-hidden-files off

set menu-complete-display-prefix on #??
TAB: menu-complete
