autopep8==1.4.4
Brlapi==0.6.5
chardet==2.3.0
cupshelpers==1.0
httplib2==0.9.2
louis==3.0.0
Pillow==6.0.0
pycodestyle==2.5.0
pycups==1.9.73
pycurl==7.43.0
pygobject==3.22.0
pysmbc==1.0.15.6
python-apt==1.4.0b3
python-debian==0.1.30
python-debianbts==2.6.1
pyxdg==0.25
reportbug==7.1.7
requests==2.12.4
six==1.10.0
urllib3==1.19.1
